@using Hqub.Mellody.Web.Models
@model Hqub.Mellody.Web.Models.Radio.StationModel

@{
    ViewBag.Title = "Mellody: Новый радио эфир";
}

@section header
{
    @Html.Partial("~/Views/Controls/Navigation.cshtml", new NavigationBarModel { Title = "Mellody.Music" })
}

@section scripts
{
    @Scripts.Render("~/bundles/app")
    <script src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript">
        var station_id = '@Model.StationId';
        InitlalizeStationVM();
    </script>

}

<div class="grid">
    <div class="row">
        <div class="span10">
            <h2>Station</h2>
        </div>

        <div class="clearfix">
            <div class="place-right">
                <button class="command-button success" onclick="location.href = '@Url.Action("Index", "Radio")'">
                    <i class="icon-music on-left"></i>
                    Create music channel
                    <small>combine your like artist</small>
                </button>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div id="player" class="offset2"></div>
        <div class="row bg-gray span9"  style="margin-left: 160px; margin-top: -4px; margin-right: -10px;">
            <a href="#" data-bind="click: player().play_pause, enable: is_busy == false">
                <img src="@Url.Content("/Content/metro-ui/icons/white/pause_white.png")">
            </a>
        </div>

        <script>
            function onYouTubeIframeAPIReady() {
                InitalYoutubePlayer();
            }
        </script>
    </div>

    <div class="row">

    </div>
</div>